<footer>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-5 offset-md-1 text-center text-md-left">
                <h4 pardot-region="Footer - Headline">Have more questions?</h4>
                <div pardot-region="Footer - Text">
                    <p>Our team is here to help answer any questions you may have regarding using Lyft Business
                    </p>
                </div>
                <a pardot-region="Footer - CTA" href="javscript:void(0)" class="btn btn-light" data-toggle="modal"
                    data-target="#pardotModal">Contact
                    Us</a>
            </div>
            <div class="col-md-5 text-center text-md-right">
                <img src="https://go.lyftbusiness.com/l/571903/2020-05-19/j75sl/571903/124109/lyft_business_logo_footer_muted.png"
                    alt="Lyft Business" width="203" style="width: 203px; height: auto;">
            </div>
        </div>
        <div class="row">
            <div id="copyright"
                class="col-md-11 text-center text-md-right d-flex justify-content-center justify-content-md-end align-items-center flex-wrap-reverse">
                <div id="footer-links" class="d-flex">
                    <div pardot-region="Terms" class="px-2">
                        <a href="https://www.lyft.com/terms?utm_source=website&amp;utm_medium=direct" target="_blank"
                            rel="noopener">Terms</a>
                    </div>
                    <div pardot-region="Privacy" class="px-2">
                        <a href="https://www.lyft.com/privacy?utm_source=website&amp;utm_medium=direct" target="_blank"
                            rel="noopener">Privacy</a>
                    </div>
                    <div pardot-region="Copyright" class="px-2">
                        Copyright &copy; Lyft
                        <script language="javascript" type="text/javascript">
                            var today = new Date();
                            var year = today.getFullYear();
                            document.write(year);
                        </script>
                    </div>
                </div>
                <div pardot-region="CPUC ID No. TCP0032513-P" class="px-2">
                    <a target="_blank" rel="noopener">CPUC ID No. TCP0032513-P</a>
                </div>
                <div id="footer-social" class="d-flex mb-2 mb-md-0">
                    <div class="px-2">
                        <a href="https://twitter.com/lyft?utm_source=website&utm_medium=direct"><i
                                class="fab fa-twitter"></i></a>
                    </div>
                    <div class="px-2">
                        <a href="https://www.facebook.com/lyft?utm_source=website&utm_medium=direct"><i
                                class="fab fa-facebook"></i></a>
                    </div>
                    <div class="px-2">
                        <a href="https://www.instagram.com/lyft?utm_source=website&utm_medium=direct"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>