<section id="four-icons">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-lg-1">
                <h4 pardot-region="4 Icons - Headline">Industry Partners</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2 offset-lg-1 text-center text-lg-left">

                <img pardot-region="Partners Icon 1 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7m1s/571903/124207/stethoscope.png" alt="">
                <h2 pardot-region="Partners Icon 1 - Title">Hospitals &<br />Health Systems</h2>
            </div>
            <div class="col-6 col-lg-2 text-center text-lg-left">
                <img pardot-region="Partners Icon 2 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7m1z/571903/124213/television.png" alt="">
                <h2 pardot-region="Partners Icon 2 - Title">Diagonostic<br />Imaging<br />Centers</h2>
            </div>
            <div class="col-6 col-lg-2 text-center text-lg-left">
                <img pardot-region="Partners Icon 3 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7m1g/571903/124201/like.png" alt="">
                <h2 pardot-region="Partners Icon 3 - Title">Outpatient<br />Treatment<br />Centers</h2>
            </div>
            <div class="col-6 col-lg-2 text-center text-lg-left">
                <img pardot-region="Partners Icon 4 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7m1x/571903/124211/sunrise.png" alt="">
                <h2 pardot-region="Partners Icon 4 - Title">Assisted Living<br /> & Senior Centers</h2>
            </div>
        </div>
    </div>
</section>