<header>
    <div id="logo">
        <img pardot-region="Header - Logo"
            src="https://go.lyftbusiness.com/l/571903/2020-03-10/fsc2k/571903/118210/Lyft_Business_logo_horizontal_Pink.png"
            alt="Lyft Business" width="203" style="width: 203px;height:auto;">
    </div>
    <div id="hero">
        <img pardot-region="Header - Image" class="w-100"
            src="https://go.lyftbusiness.com/l/571903/2020-05-19/j78mx/571903/124147/lyft_quickest_route_hero.png"
            alt="" />
    </div>
    <div id="content">
        <h1 pardot-region="Header - Title">The quickest route to healthy</h1>
        <div pardot-region="Header - Content">
            <p class="lead">Improve access to care with on-demand and scheduled rides.</p>
        </div>
        <a pardot-region="Header - CTA" href="https://www.lyft.com/business/signup" class="btn btn-primary"
            target="_blank">Get Started</a>
    </div>
</header>