<section id="steps">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 mx-auto text-center">
                <div class="step-line">
                    <div>
                        <div class="step active">1</div>
                        <p pardot-region="Step 1 - Text" class="step-text active">Sign Up</p>
                    </div>
                    <div>
                        <div class="step">2</div>
                        <p pardot-region="Step 2 - Text" class="step-text">Pick Product</p>
                    </div>
                    <div>
                        <div class="step">3</div>
                        <p pardot-region="Step 3 - Text" class="step-text">Get Riding</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-lg-4 mx-auto text-center">
                <h2 pardot-region="Steps - Headline" class="h1">Reliable business travel starts with a reliable ride
                </h2>
                <a pardot-region="Steps - CTA" href="https://www.lyft.com/business/signup" class="btn btn-primary"
                    target="_blank">Get Started</a>
            </div>
        </div>
    </div>
</section>