<section id="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-lg-1">
                <h4 pardot-region="Testimonial - Headline">Results</h4>
            </div>
        </div>

        <div class="row">

            <div pardot-region="Testimonials" id="carouselTestimonials" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div id="slide1" class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-2 offset-lg-1">
                                <img src="https://go.lyftbusiness.com/l/571903/2020-05-19/j78mj/571903/124139/royal_care_connect_logo.png"
                                    width="135" style="width: 135px; height:auto;" />
                                <div>
                                    <p>A leading software company connecting people to transportation</p>
                                </div>


                            </div>
                            <div class="col-lg-4 offset-lg-2">
                                <div>
                                    <ul>
                                        <li>50% reduction in emergency room diversion rates, as a result of improved
                                            patient flow</li>
                                        <li>$400,000 in annual health system savings for ambulatory transportation,
                                            compared to using taxi vouchers</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div id="slide2" class="carousel-item">
                        <div class="row">
                            <div class="col-lg-2 offset-lg-1">
                                <img src="https://go.lyftbusiness.com/l/571903/2020-05-19/j78mn/571903/124137/slack_logo.png"
                                    width="135" style="width: 135px; height:auto;" />
                                <div>
                                    <p>A leading collaboration hub with over 12 million daily active users</p>
                                </div>


                            </div>
                            <div class="col-lg-4 offset-lg-2">
                                <div>
                                    <ul>
                                        <li>Convenient, safe rides home for Slack's US employees</li>
                                        <li>More than half of Slack's US employees have taken advantage of the Lyft
                                            benefit</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div id="slide3" class="carousel-item">
                        <div class="row">
                            <div class="col-lg-2 offset-lg-1">
                                <img src="https://go.lyftbusiness.com/l/571903/2020-05-19/j78ml/571903/124135/stevenson_imports_logo.png"
                                    width="135" style="width: 135px; height:auto;" />
                                <div>
                                    <p>A legendary Jaguar and Porsche dealership serving Denver, Colorado</p>
                                </div>


                            </div>
                            <div class="col-lg-4 offset-lg-2">
                                <div>
                                    <ul>
                                        <li>$7,000 per week in added revenue</li>
                                        <li>$1,500 annual savings per retired loaner car</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTestimonials" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselTestimonials" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>