<section id="three-icons">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-lg-1">
                <h4 pardot-region="3 Icons - Headline">Proven Record</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 offset-lg-1">
                <img pardot-region="Icon 1 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7m12/571903/124185/cash_out.png" alt="">
                <h2 pardot-region="Icon 1 - Title">Save up to 32% on ground transportation</h2>
                <p pardot-region="Icon 1 - Description">Provide reliable rides while gaining better visibility intoyour
                    transportation spend.</p>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <img pardot-region="Icon 2 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7lzz/571903/124181/calendar_add_event.png"
                    alt="">
                <h2 pardot-region="Icon 2 - Title">Reduce no-shows an average of 27%</h2>
                <p pardot-region="Icon 2 - Description">Improve appointment adherence and recapture lost revenue for
                    missed appointments.</p>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <img pardot-region="Icon 3 - Icon"
                    src="https://go.lyftbusiness.com/l/571903/2020-05-20/j7m1b/571903/124193/face_smiley.png" alt="">
                <h2 pardot-region="Icon 3 - Title">4 out of 5 patientsprefer Lyft</h2>
                <p pardot-region="Icon 3 - Description">Boost patient satisfaction and help more people get to the care
                    they need.</p>
            </div>
        </div>
    </div>
</section>