<section id="video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-lg-1">
                <h4 pardot-region="Video - Headline">Lyft Concierge</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <h2 pardot-region="Video - Title">Reliable rides for your patients</h2>
                <div pardot-region="Video - Text">
                    <p>Send and manage rides for your patients — even if they don’t have the Lyft app or a smartphone.
                    </p>
                    <p>It's easy to get going:</p>
                </div>
                <div pardot-region="Video - List">
                    <ul class="video-counter">
                        <li>Set up on-demand, scheduled, or flexible rides for your patients.</li>
                        <li>Ride details are sent to your patients automatically via text or call.</li>
                        <li>Track rides to make sure patients are getting where they need to go</li>
                    </ul>
                </div>

            </div>
            <div pardot-region="Video - Embed" pardot-region-type="pardot"
                class="col-lg-5 offset-lg-1 px-0 px-lg-2 mt-5 mt-lg-0">
                <script src="https://fast.wistia.com/embed/medias/y1rdipjt4w.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper"
                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_embed wistia_async_y1rdipjt4w videoFoam=true"
                            style="height:100%;position:relative;width:100%">
                            <div class="wistia_swatch"
                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                <img src="https://fast.wistia.com/embed/medias/y1rdipjt4w/swatch"
                                    style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
                                    aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>