<section id="video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-lg-1">
                <h4 pardot-region="Video - Headline">Lyft Concierge</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <h2 pardot-region="Video - Title">Reliable rides for your patients</h2>
                <div pardot-region="Video - Text">
                    <p>Send and manage rides for your patients — even if they don’t have the Lyft app or a smartphone.
                    </p>
                    <p>It's easy to get going:</p>
                </div>
                <div pardot-region="Video - List">
                    <ul class="video-counter">
                        <li>Set up on-demand, scheduled, or flexible rides for your patients.</li>
                        <li>Ride details are sent to your patients automatically via text or call.</li>
                        <li>Track rides to make sure patients are getting where they need to go</li>
                    </ul>
                </div>

            </div>
            <div pardot-region="Video - Image/Video" class="col-lg-6 offset-lg-1 px-0 px-lg-2">
                <a href="#">
                    <img class="img-fluid"
                        src="https://go.lyftbusiness.com/l/571903/2020-05-19/j78mq/571903/124141/lyft_video_screenshot.png"
                        alt="" width="640" style="width: 640px; height: auto;" />
                </a>
            </div>
        </div>
    </div>
</section>