@font-face {
  font-family: "LyftPro-Bold";
  src: url(https://lyft-assets.s3.amazonaws.com/font/Lyft%20Pro/LyftPro-Bold.otf)
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LyftPro-Regular";
  src: url(https://lyft-assets.s3.amazonaws.com/font/Lyft%20Pro/LyftPro-Regular.otf)
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LyftPro-SemiBold";
  src: url(https://lyft-assets.s3.amazonaws.com/font/Lyft%20Pro/LyftPro-SemiBold.otf)
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "LyftPro-Regular", Arial, Helvetica, sans-serif;
}

// Change the Container Width To Match Ceros

.navbar {
  height: 100px;
  background-color: #fff;
  .container {
    @media screen and (max-width: 479px) {
      width: 100%;
      padding: 0;
    }
    width: 86%;
    max-width: unset;
    flex-wrap: nowrap;
  }
  img {
    @media screen and (max-width: 479px) {
      width: 150px;
    }
  }
  button {
    background-color: #ff00bf;
    color: #fff;
    border-color: #ff00bf;
    border-radius: 30px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media screen and (max-width: 375px) {
      font-size: 12px;
      padding: 8px 15px;
    }
    &:hover {
      background-color: #ff00bf;
      color: #fff;
      border-color: #ff00bf;
      box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
    &:active {
      background-color: #ff00bf;
      color: #fff;
      border-color: #ff00bf;
      box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      background-color: #ff00bf;
      color: #fff;
      border-color: #ff00bf;
      box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

#ceros {
  margin-top: 100px;
}

// ANCHOR Modal Styles
#formOuter {
  background-color: #f8d8e4;
}
.modal {
  .modal-dialog {
    max-width: unset;
    margin: 0;
    width: 100%;
    .modal-content {
      border: none;
      .modal-header {
        background-color: #f8d8e4;
        border-radius: 0;
        border: none;
      }
      .modal-body {
        background-color: #f8d8e4;
        border-radius: 0;
        border: none;
        .modal-form-header {
          width: 387px;
          padding: 20px 0px;
          font-size: 50px;
          line-height: 50px;
          color: rgb(15, 122, 188);
          font-family: "LyftPro-Bold", Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}
.modal-footer {
  background-color: #f8d8e4;
  border-radius: 0;
  border: none;
  button {
    color: #0f7abc;
    background-color: transparent;
    border-color: #0f7abc;
    border-width: 3px;
    border-radius: 50%;
    font-size: 24px;
    i {
      width: 32px;
      height: 32px;
    }
  }
}

// ANCHOR Form Styles

#pardot-form {
  color: #666666;
  font-family: "LyftPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0.5em 0 1em;
  padding: 0;

  // #PARAGRAPH
  p {
    margin: 0;
    padding: 15px 15px 15px 0px;
    // #REQUIREDPARAGRAPH

    &.required {
    }
    // #LABEL
    label {
    }
    // #REQUIREDLABEL
    &.required {
      label {
        background-image: none;
        // #REQUIREDLABELAFTER To Use :after To Style The Required Label
        &:after {
          content: "";
          color: inherit;
        }
      }
    }
    // General Input Styles
    input {
      background-color: #fff;
      border-radius: 5px;
      border-style: solid;
      border-width: 0px;
      padding: 10px;
      box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
      width: 100%;
    }
    // Required Input Styles
    &.required input {
    }

    &.pd-select {
      // Style Select Fields
      select {
        background-color: #fff;
        border-radius: 5px;
        border-style: solid;
        border-width: 0px;
        padding: 10px;
        box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      label {
        color: #666666;
        opacity: 0.8;
        position: absolute;
        top: 24px;
        left: 12px;
        padding-left: 0px;
        text-align: left;
        pointer-events: none;
      }
      &.required {
        label {
          font-weight: normal;
        }
      }
    }

    // Style Radio Fields
    &.pd-radio {
      input {
      }
      label.inline {
      }
    }

    // Style Checkbox Fields
    &.pd-checkbox {
      input {
      }
      label.inline {
      }
    }

    // Style TextAreas
    textarea.standard {
    }

    // Submit Button Styles
    &.submit {
      margin-left: auto;
      // Style the Actual Submit Button
      input {
        max-width: 200px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
        border: none;
        border-width: 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #ffffff;
        color: #000001 !important;
        font-family: "LyftPro-Regular", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        margin: 0;
        text-decoration: none !important;
        padding: 10px 30px;
        border-radius: 30px;
        // Style the Submit Button When Hovered
        &:hover {
        }
      }
    }

    // Field Description Styles
    span.description {
    }

    // Errors For Each Field
    span.error {
      clear: left;
      display: block;
      font-weight: bold;
      margin-top: 2px;
      padding-left: 166px;
    }
    // Error Notification Section Above Form
    &.errors {
      padding-left: 15px;
    }

    // Require
    span.required {
      label {
      }
    }
  }
}
